{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <!-- <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"> -->
    <div class="media-body">
      <div class="article-metadata">
        <!-- <a class="mr-2" href="">{{ object.author }}</a> -->
        <!-- <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small> -->
        {% if user.is_superuser %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'sales-edit' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'sales-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h5 class="article-title">{{ object.code }} - {{ object.date }}</h5>
      <!-- <p class="article-content">
      </p> -->
      <div>
        <!-- Unit: {{ object.unit }}
        Size: {{ object.size }}
        Color: {{ object.color }}
        Excerpt: {{ object.excerpt }}
        Description: {{ object.Description }} -->
        {% if sale_details %}
        <ul>
          {% for sale_detail in sale_details %}
            <li>{{ sale_detail.product_variation }} - {{ sale_detail.quantity_released }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <br>

      <!-- <div>
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add a Comment</legend>
                {{ product_variation_comment_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>        
      </div>

      <br>

      <div>
        <h2>Comments</h2>
        <ul>
            {% for comment in object.comments.all %}
                <li>
                  {{ comment.content }}
                  <br>
                  by {{ comment.user }}
                </li>
            {% empty %}
                <li>No comments yet.</li>
            {% endfor %}
        </ul>
      </div> -->

    </div>
  </article>
{% endblock content %}